<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets-pure/normalize.css' />
    <link rel='stylesheet' href='/stylesheets-pure/pure-min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
        <h1><%= title %></h1>
        <nav class='pure-menu pure-menu-horizontal'>
          <ul class='pure-menu-list'>
            <li class='pure-menu-item'><a href="/" class='pure-menu-link'>Home</a></li>
            <li class='pure-menu-item'><a href="/puzzle-creator" class='pure-menu-link'>Editer</a></li>
            <li class='pure-menu-item'><a href="/print-out" class='pure-menu-link'>Print</a></li>
            <li class='pure-menu-item'><a href="/search-archive" class='pure-menu-link'>Search</a></li>
            <li class='pure-menu-item'><a href="/authentication" class='pure-menu-link'>Authentication</a></li>
          </ul>
        </nav>

      <!--  <div class="login">-->
          
          
          <% login_helper.loggedIn(); %>
          
      <!--  </div>-->
      </header>