<!-- PLACEHOLDER :: Fill in later! -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
        <h1><%= title %></h1>
        <nav>
          <ul>
            <li><a href="index">index</a></li>
            <li><a href="editer">editer</a></li>
            <li><a href="print">print</a></li>
            <li><a href="search">search</a></li>
          </ul>
        </nav>
      </header>