* {
    margin: 10px;
}

header {
    font-family: "Courier New", Courier, Monospace;
    text-shadow: 1px 1px #FF0000;
    color: white;
    background-color: black;
    text-indent: 10px;
}

.headerBox {
    display: flex;
    flex-wrap: nowrap;
}

.siteTitle {
    margin: auto;
    width: 65%;
}

.siteTitle > h1 {
    display: inline;
}

.siteTitle > img {
    width: 30px;
    height: 40px;
    display:inline;
}

.username {
    margin: auto;
    width: 30%;
}

.username > img {
    background-color: red;
}

#signedOut {
    visibility: visible;
}

#signedOut .hide {
    visibility: hidden;
}

#signedIn {
    visibility: hidden;
}

#signedIn .show{
    visibility: visible;
}

/*#mainPort {
    display: inline;
}*/

/*
#formSpace {
    width: 50%;
}
*/

/*#userForm {
    width: 45vw;
    display: inline-block;
}*/

.row {
    display: flex;
    flex-wrap: nowrap;
}

/*.col {
    width: 45%;
}*/

#userForm {
    width: 30%;
}

h3 {
    font-style: italic;
    font-weight: normal;
}

fieldset {
    border: ridge 3px green;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    font-size: 1.1em;
}

input {
    margin: 5px;
}

textarea {
    margin: 5px;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
    font-size: 1.2em;
}

a:active {
    color: yellow;
    font-size: 1.2em;
}

button {
    font-size: 1.0em;
    font-weight: bold;
    background-color: #f2f2f2;
    border: ridge 2px green;
    border-radius: 4px;
    box-shadow: 0 4px #999;
}

button:hover {
    border: ridge 2px orange;
    color: orange;
}

button:active {
    border: ridge 2px white;
    background-color: #ffffb3; 
    color: white;
    transform: translateY(4px);
}

aside {
    width: 60%;
    border: ridge 3px green;
    border-radius: 8px;
}

.puzzlePort, #crosswordPort, #answerPort {
    border: solid 1px black;
    margin: auto;
}

.puzzleTitle {
   text-align: center;
}

#puzzlePort {
    margin-top: 12px;
}

td {
    position: relative;
    margin: 0px;
    border: solid 1px black;
    /*width: 10px;
    height: 10px;*/
}

td > section {
    position: absolute;
    top: -10px;
    left: -7px;
    font-size: 0.5em;
    font-weight: bold;
}

.letter {
    margin: .5em;
}

#commentBlock {
    border-top: solid 2px black;
}

footer {
    text-shadow: 1px 1px #FF0000;
    color: white;
    background-color: black;
    font-style: italic;
    text-indent: 10px;
}

.column {
    width: 50%;
}

#crosswordPuzzle, #crosswordAnswer {
    border: ridge 3px green;
    border-radius: 8px;
}

#guestBook {
    border: double 4px black;
}

#guestBook > h4 {
    font-size: 1.2em;
    text-decoration: underline;
}

#bottom {
    width: 10%;
    margin: auto;
}
